#formCreatePubli {
    
    margin: 100px auto;
    width: 600px;
    gap: 5px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 3px 2px rgb(184, 184, 184);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#titlePublicar {
    margin: 0px;
}

#linha {
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: #4682A9;
}

.inputPubli {
    height: 25px;
    border: 2px solid #4682A9;
    border-radius: 5px;
    outline: 0;
}

.textArea {
    height: 156px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

#arquivos {
    background-color: #4682A9;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #F6F4EB;
}

.textAreaCodes {
    display: none;
}